.section {
  width: 40%;
  margin: auto;
  padding: 1rem;
  background: #fdf6e7;
}
.list {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.list li {
  width: 47%;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 850px) {
  .section {
    width: 100%;
  }
}
