.section {
  width: 40%;
  margin: 2rem auto;
  padding: 1rem;
}
.arrow {
  position: absolute;
  top: 0;
  margin: 1rem 0.5rem;
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.check span {
  width: 200px;
  background: #fbceb1;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  text-align: center;
}
.content h4 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #000;
  text-transform: capitalize;
}
.content p {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  text-transform: capitalize;
}
@media (max-width: 850px) {
  .section {
    width: 100%;
  }
}
