.section {
  width: 40%;
  margin: auto;
  padding: 1rem;
  background: #fdf6e7;
}
.container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container h1 {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.container a {
  color: orangered;
  font-size: 1rem;
  font-weight: 500;
}
.list {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.list li {
  width: 47%;
  cursor: pointer;
}
.list li:hover {
  opacity: 0.9;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 850px) {
  .section {
    width: 100%;
  }
  .container h1 {
    font-size: 1rem;
  }
}
