.form {
  width: 40%;
  margin: auto;
  background: #fdf6e7;
  padding: 1rem;
}
.form form {
  width: 80%;
  margin: auto;
}
.form form input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #ccc;
  font-size: 1rem;
  color: #000;
}
@media (max-width: 850px) {
  .form {
    width: 100%;
  }
}
